In [18]:
spark.sql("USE climate_db")
spark.sql("SELECT * FROM co2_emissions WHERE annual_emissions IS NOT NULL LIMIT 5").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+----+----+----------------+
|     entity|code|year|annual_emissions|
+-----------+----+----+----------------+
|Afghanistan| AFG|1949|         14656.0|
|Afghanistan| AFG|1950|         84272.0|
|Afghanistan| AFG|1951|         91600.0|
|Afghanistan| AFG|1952|         91600.0|
|Afghanistan| AFG|1953|        106256.0|
+-----------+----+----+----------------+

In [19]:
spark.sql("USE climate_db")
spark.sql("SELECT * FROM land_temperature_by_country WHERE averagetemperature IS NOT NULL LIMIT 5").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------+-----------------------------+-------+
|        dt|averagetemperature|averagetemperatureuncertainty|country|
+----------+------------------+-----------------------------+-------+
|1743-11-01|4.3839999999999995|                        2.294|  Åland|
|1744-04-01|              1.53|                         4.68|  Åland|
|1744-05-01| 6.702000000000001|                        1.789|  Åland|
|1744-06-01|11.609000000000002|                        1.577|  Åland|
|1744-07-01|            15.342|                         1.41|  Åland|
+----------+------------------+-----------------------------+-------+

In [20]:
spark.sql("""
    SELECT 
        e.entity AS country,
        AVG(e.annual_emissions) AS average_annual_emissions,
        AVG(t.averagetemperature) AS average_temperature
    FROM 
        co2_emissions e
    JOIN 
        land_temperature_by_country t ON e.entity = t.country
        AND e.year = YEAR(t.dt)
    GROUP BY 
        e.entity
""").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+------------------------+-------------------+
|    country|average_annual_emissions|average_temperature|
+-----------+------------------------+-------------------+
|  Argentina|     5.609340756422091E7| 14.755785526315792|
|     Angola|       7462107.146549024| 22.149318062827223|
|    Albania|        3117043.07120743|  12.99210020661157|
|    Andorra|      489587.53684210527| 12.206415492957747|
|     Bhutan|      213963.06502857138| 12.291540076335878|
|    Armenia|        4554413.57767123|  9.288946646341461|
|   Anguilla|      101473.51578947369| 27.405820422535207|
|    Algeria|    3.3542769047277115E7| 23.319851286173623|
|      Benin|       1266735.248161435| 27.538580838323348|
|      Aruba|      1285447.9788127844| 28.397669207317072|
|    Bahrain|       8496624.318947371| 26.295051652892564|
|     Africa|    2.2951465119022903E8| 24.074202745512142|
| Bangladesh|    1.8561881604109593E7|  25.28548780487806|
| Azerbaijan|    4.2143040671461135E7| 11.947913109756097|
|     Belize|      233863.78039215686| 25.482091503267966|
|Afghanistan|      2020595.5150193046|  14.49147293814433|
|    Belgium|    6.4059949454073094E7|  9.564750902527077|
|    Bahamas|      2301116.2357647046| 25.505410457516334|
|    Bolivia|       4375374.333994168|  21.17323540856031|
|   Barbados|       535829.8823323615| 26.818854085603125|
+-----------+------------------------+-------------------+
only showing top 20 rows

In [21]:
spark.sql("""
    SELECT 
        e.entity AS country,
        AVG(e.annual_emissions) AS average_annual_emissions,
        AVG(t.averagetemperature) AS average_temperature
    FROM 
        co2_emissions e
    JOIN 
        land_temperature_by_country t ON e.entity = t.country
        AND e.year = YEAR(t.dt)
    GROUP BY 
        e.entity
    ORDER BY 
        average_annual_emissions DESC
    LIMIT 10
""").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------+------------------------+-------------------+
|       country|average_annual_emissions|average_temperature|
+--------------+------------------------+-------------------+
|        Russia|     1.707264588949771E9| -4.780702743902438|
| United States|    1.5359203697698061E9|  8.603572522159556|
|         China|     8.803365430384827E8|  6.633572616136923|
|       Ukraine|    4.5287547420273983E8|  8.359509146341466|
|       Germany|    3.9308062706753135E8|   8.18554135338346|
|         Japan|     3.916217583245286E8| 12.044405606407336|
|United Kingdom|     2.866108890654614E8|  8.491605346912797|
|        Africa|    2.2951465119022903E8| 24.074202745512142|
|    Kazakhstan|    2.0364140171643832E8|  6.092664634146341|
|   South Korea|    1.9273392581134537E8| 12.320580097087385|
+--------------+------------------------+-------------------+

In [22]:
spark.sql("""
    SELECT 
        e.entity AS country,
        AVG(e.annual_emissions) AS average_annual_emissions,
        AVG(t.averagetemperature) AS average_temperature
    FROM 
        co2_emissions e
    JOIN 
        land_temperature_by_country t ON e.entity = t.country
        AND e.year = YEAR(t.dt)
    GROUP BY 
        e.entity
    ORDER BY 
        average_annual_emissions ASC
    LIMIT 10
""").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-------------------+
|             country|average_annual_emissions|average_temperature|
+--------------------+------------------------+-------------------+
|                Niue|       5066.788571428571|  25.53457824427482|
|          Montserrat|      25665.700483091787| 26.893069354838705|
|            Kiribati|      30822.748815165876| 27.113939873417713|
|            Dominica|       52960.12749003984|  26.58603590425531|
|               Tonga|       53465.66274509804|  23.57704581151832|
|             Comoros|       63643.17808219178| 26.080251524390256|
|British Virgin Is...|       70023.11111111111| 26.839830917874394|
|               Samoa|        86757.7725490196|  26.64870026178009|
|    Christmas Island|       95002.28571428571| 26.078083333333336|
|             Grenada|       97433.66274509804|  27.21324214659685|
+--------------------+------------------------+-------------------+

In [23]:
spark.sql("""
    SELECT 
        e.entity AS country,
        AVG(e.annual_emissions) AS average_annual_emissions,
        AVG(t.averagetemperature) AS average_temperature
    FROM 
        co2_emissions e
    JOIN 
        land_temperature_by_country t ON e.entity = t.country
        AND e.year = YEAR(t.dt)
    GROUP BY 
        e.entity
    ORDER BY 
        average_temperature DESC
    LIMIT 10
""").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------------------+-------------------+
|             country|average_annual_emissions|average_temperature|
+--------------------+------------------------+-------------------+
|            Djibouti|      250946.14623529412|  29.08503010471205|
|                Mali|      489513.27963470324| 28.887868902439013|
|        Burkina Faso|        674113.411121076| 28.505038922155702|
|             Senegal|       3060232.469315069| 28.429446646341457|
|               Aruba|      1285447.9788127844| 28.397669207317072|
|United Arab Emirates|     5.865182379470314E7|  28.21140091463415|
|          Mauritania|       969136.3652968036| 28.097749999999994|
|              Gambia|      152451.13725490196|  27.90632722513089|
|               Niger|       622252.2440807172|  27.83997455089821|
|               Palau|       166984.8510638298|  27.56056107954545|
+--------------------+------------------------+-------------------+

In [24]:
spark.sql("""
    SELECT 
        e.entity AS country,
        AVG(e.annual_emissions) AS average_annual_emissions,
        AVG(t.averagetemperature) AS average_temperature
    FROM 
        co2_emissions e
    JOIN 
        land_temperature_by_country t ON e.entity = t.country
        AND e.year = YEAR(t.dt)
    GROUP BY 
        e.entity
    ORDER BY 
        average_temperature ASC
    LIMIT 10
""").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+------------------------+--------------------+
|   country|average_annual_emissions| average_temperature|
+----------+------------------------+--------------------+
| Greenland|       438429.9294117647|  -18.08948429319372|
|   Denmark|    2.2469639783587106E7|  -18.00078564453125|
|    Canada|    1.2899122241300535E8|  -5.200034411276948|
|    Russia|     1.707264588949771E9|  -4.780702743902438|
|  Mongolia|       6697050.589333335|-0.12026439790575907|
|    Norway|    1.3186810988514446E7| 0.18958486238532102|
|   Finland|    1.8644064125252023E7|  1.4474734273318874|
|   Iceland|      1694371.3012709017|  1.8720033482142853|
|    Sweden|     2.661082450093886E7|   2.514483396584439|
|Kyrgyzstan|        6422252.76057471|   4.392888461538462|
+----------+------------------------+--------------------+